<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    @Styles.Render("~/Content/materialize.css")
    @Styles.Render("~/Content/NavbarCSS/Navbar.css")
    
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <!--Navbar-->
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo center">Keerthy Sethupathy</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href="sass.html">About me</a></li>
                    <li><a href="badges.html">Interests</a></li>
                </ul>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="sass.html">Portfolio</a></li>
                    <li><a href="badges.html">Contact</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <!--Mobile Navbar-->
    <ul class="sidenav" id="mobile-demo">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">Javascript</a></li>
        <li><a href="mobile.html">Mobile</a></li>
    </ul>

    <!--Navbar Slut-->
    <div class="container body-content">
        <!--Hvor tingene sker-->
        @RenderBody()
        @*<hr />*@
        <footer></footer>
    </div>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/materialize.js")
    @RenderSection("scripts", required: false)

    <script>
        $(document).ready(function () {
            $('.sidenav').sidenav();
        });
    </script>
</body>
</html>
